.b1{
    width: 105%;
    border-radius: 0;
    margin-top: 40px;
}
/* .header{
    color:#ffa834;
    text-align:center;
} */


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .heading {
    color:#ffa834;
    font-size: 24px;
    font-weight: bold;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ffa834;;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    border: none;
  }

  .line {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
  }