
<div class="container">
    <div class="heading">Create Surgery</div>
    <!-- <a class="button" href="#">Create</a> -->
    <button type="button" class="btn btn-warning button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create
    </button>
</div>
<hr class="line">

<div >
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Type</th>
                <th>Surgery Name</th>
                <th>Patient </th>
                <th>Doctors</th>
                <th>Surgery Date</th>
                <th>Tools</th>
                <th>Priority</th>
                <th>Notes</th>
                <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of data">
                <td>{{i.type}}</td>
                <td>{{i.surgeryName}}</td>
                <td>{{i.patient}}</td>
                <td>{{i.doctors}}</td>
                <td>{{i.surgeryDate}}</td>
                <td>{{i.tools}}</td>
                <td>{{i.priority}}</td>
                <td>{{i.notes}}</td>
                <td><button   class="btn btn-outline-warning">Edit</button>
                <button   class="btn btn-outline-danger">Delete</button></td>
                
            </tr>
        </tbody>
    </table>

               
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Surgery Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddExpenseModal></button>
        </div>
        <div class="modal-body">
          

              <form [formGroup]="bioSection" class="row g-3">
                <div class="form-group col-xxl-6">
                    <label for="type">Type</label>
                    <input type="text" class="form-control" id="type" placeholder="Enter type" formControlName="type" [(ngModel)]="type"  name="type">
                </div>
                <div class="form-group col-xxl-6">
                    <label for="surgery">Surgery Name</label>
                    <input type="text" class="form-control" id="surgery" placeholder="Enter surgery name" formControlName="surgeryName" [(ngModel)]="surgeryName"   name="surgeryName">
                </div>
                <div class="form-group col-xxl-6 ">
                    <label for="patient">Patient Name</label>
                    <input type="text" class="form-control" id="patient" placeholder="Enter patient name" formControlName="patient"  [(ngModel)]="patient" name="patient">
                </div>
                <div class="form-group col-xxl-6">
                    <label for="priority">Priority</label>
                    <select class="form-control" id="priority" formControlName="priority" [(ngModel)]="priority"  name="priority">
                        <option selected>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>
               
                <div class="form-group">
                    <label for="options">Tools Required</label>
                    <!-- <select  class="form-control" id="tools"   formControlName="selectedTool" >
                        <option>select</option>
                        <option *ngFor="let t of toolsList" [value]="t">{{t}}</option>
                       
                    </select> -->
                    <div style="width:50%">
                        <ng-multiselect-dropdown
                            [settings]="dropdownSettings"
                            [data]="toolsList" [(ngModel)]="tools" formControlName="tools">
                        </ng-multiselect-dropdown>
                    </div>

                </div>
                
                <label *ngIf="doctorsList.length!=0" for="options">Doctors</label>
                <!-- <mat-chip-option>
                    <mat-chip-row *ngFor="let doctors of doctorsList">{{ doctors }}</mat-chip-row>
                </mat-chip-option> -->

                <mat-chip-listbox>
                    <mat-chip-option *ngFor="let doc of doctorsList" [disabled]=" option[this.doctorsList.indexOf(doc)] != null||option[this.doctorsList.indexOf(doc)] === false" [selected]="" (selectionChange)="changeSelected(doc)" [removable]="true" (removed)="removeDoctor(doc)">
                      {{doc}}
                      <mat-icon matChipRemove></mat-icon>
                    </mat-chip-option>
                  </mat-chip-listbox>

                  <label *ngIf="selectedDoctors.length!=0"  for="options">Selected Doctors</label>
                  
                  <mat-chip-listbox>
                    <mat-chip-option *ngFor="let doc of selectedDoctors"  [selected]="" (selectionChange)="changeSelected2(doc)" [removable]="true" (removed)="removeDoctor(doc)">
                      {{doc}}
                      <mat-icon matChipRemove></mat-icon>
                    </mat-chip-option>
                  </mat-chip-listbox>
                  
                  

        

                <div class="form-group">
                    <label for="date">Select Date</label>
                    <input type="date" class="form-control" id="date" formControlName="surgeryDate" [(ngModel)]="surgeryDate"  name="surgeryDate">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" rows="3" placeholder="Enter notes" formControlName="notes" [(ngModel)]="notes"  name="notes"></textarea>
                </div>



            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createSurgery()">Create</button>
        </div>
      </div>
    </div>
  </div>


</div>
