.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .heading {
    color:#ffa834;
    font-size: 24px;
    font-weight: bold;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ffa834;;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    border: none;
  }
